body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(-90deg, #1d2671, #c33764, #2b5876, #4e4376) repeat;
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.box{
    width: 400px;
    padding: 30px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.box input[type= "text"], .box input[type= "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    color: #ffffff;
    width: 250px;
    outline: none;
    border-radius: 2px;
    transition: 0.3s;
}
.box h2{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type= "text"]:focus, .box input[type= "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    border: 2px solid #3498db;
    color: #ffffff;
    outline: none;
    border-radius: 2px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 15px;
}
.box input[type="submit"]:hover{
    background: #753a88;
    border-color: #753a88;
}
footer{
  position: relative;
  top: 650px;
  color: #ffffff;
  text-align: center;
}
